{% extends 'base.html.twig' %}

{% block title %}Edit Ressource{% endblock %}

{% block body %}
    <h1>Edit Ressource</h1>

    {{ include('ressourceabc/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_ressourceabc_index') }}">back to list</a>

    {{ include('ressourceabc/_delete_form.html.twig') }}
{% endblock %}
