{% extends 'base.html.twig' %}

{% block title %}Edit Service{% endblock %}

{% block body %}
    <h1 class ="blue">Modifier Service</h1>

    {{ include('service/_form.html.twig', {'button_label' : 'Update'}) }}

    <a href="{{ path('app_service_index') }}">Retourne liste</a>

    {{ include('service/_delete_form.html.twig') }}
{% endblock %}
