{% extends 'TableUtilisateurs.html.twig' %}

{% block title %}New CodePromos{% endblock %}

{% block body %}
    <h1>Create new CodePromos</h1>

    {{ include('code_promos/_form.html.twig') }}

    <a href="{{ path('app_code_promos_index') }}">back to list</a>
{% endblock %}
